apiVersion: v1
kind: Service
metadata:
  annotations:
    {{- include "app.annotations" . | nindent 4 }}
    {{- if .Values.backendConfig.enabled }}
    cloud.google.com/backend-config: 
      '{"ports": {"{{ .Values.backendConfig.port }}":"{{- include "app.fullname" . }}"}}'
    {{- end }}
    {{- if .Values.service.exported }}
    mirror.linkerd.io/exported: {{ .Values.service.exported | quote }}
    {{- end }}
  name: {{ include "app.fullname" . }}
  labels:
    {{- include "app.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    {{- range $i, $val := .Values.ports }}
    - port: {{ $val.number }}
      targetPort: {{ $val.name }}
      protocol: TCP
      name: {{ $val.name }}
    {{- end }}
  selector:
    {{- include "app.selectorLabels" . | nindent 4 }}
